example-sides {
  margin-bottom: 72px;
}

.moved {
  position: relative;
  background-color: aqua;
  padding: 6px;
  /* top: 12px; */
  /* bottom: 12px; */
  /* left: 12px; */
  /* right: 12px; */
}

.notes {
  display: block;
  color: red;
}

/* static */
.example.static {
  border: 1px dashed black;
  padding: 12px;
}

.example.static .first-element {
  padding: 6px;
  background-color: #5be073;
}
.example.static .second-element {
  padding: 6px;
  background-color: rgb(0, 119, 255);
  color: white;
}

/* relative */
.example.relative {
  border: 1px dashed black;
  padding: 12px;
}

.example.relative .first-element {
  position: relative;
  top: 10px;
  left: 10px;
  padding: 6px;
  background-color: #5be073;
}
.example.relative .second-element {
  padding: 6px;
  background-color: rgb(0, 119, 255);
  color: white;
}

/* absolute */
.example.absolute {
  position: relative;
  border: 1px dashed black;
  padding: 12px;
}

.example.absolute .first-element {
  position: absolute;
  top: 5px;
  left: 500px;
  padding: 6px;
  background-color: #5be073;
}
.example.absolute .second-element {
  padding: 6px;
  background-color: rgb(0, 119, 255);
  color: white;
}

/* fixed */
.example.fixed {
  border: 1px dashed black;
  padding: 12px;
}

.example.fixed .first-element {
  position: fixed;
  top: 700px;
  left: 500px;
  padding: 6px;
  background-color: #5be073;
}
.example.fixed .second-element {
  padding: 6px;
  background-color: rgb(0, 119, 255);
  color: white;
}

/* sticky */
.example.sticky {
  border: 1px dashed black;
  padding: 12px;
  height: 300px;
  overflow: auto;
}

.example.sticky .first-element {
  position: sticky;
  top: 20px;
  /* left: 100px; */
  padding: 6px;
  background-color: #5be073;
}
.example.sticky .second-element {
  padding: 6px;
  background-color: rgb(0, 119, 255);
  color: white;
}
